<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Urganch tuman tibbiyot birlashmasi</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" type="image/x-icon" href="./Rasmlar/logo1.png">
</head>
<body>
    <div class="conatiner">
        <header>
            <img src="/Rasmlar/gerb.png" alt="logo">
            <div class="heder_text">
                <h2>Ўзбекистон Республикаси соғлиқни сақлаш вазирлиги</h2>
                <h1>Урганч туман тиббиёт бирлашмаси</h1>
            </div>
            <img src="/Rasmlar/logo1.png" alt="logo">        
            </header>
        <nav  id="tuman_haqida" >
            <ul>
                <li><a href="/haqida">Туман Хақида</a></li>
                <li><a href="/yangiliklar">Янгиликлар </a></li>
                <li><a href="/boglanish">Боғланиш</a></li>
                <li><a href="#aloqa">Алoқа</a></li>
            </ul>
        </nav>

    {{{body}}}

        <footer>
            <div id="aloqa" class="footer_left">
                <img class="logo"  src="./Rasmlar//logo2.png" alt="log0">
                <p>Биз ижтимоий тармоқларда:</p>
                <div class="icons">
                    <span class="icon_box">
                      <a href="urgench.tssb.shtab@ssv.uz">  <img src="./Rasmlar/instagram.png" alt="icon"> </a>
                    </span>
                    <span class="icon_box">
                    <a href="urgench.tssb.shtab@ssv.uz">    <img src="./Rasmlar/telegram.png" alt="icon"> </a>
                    </span>
                    <span class="icon_box">
                    <a href="urgench.tssb.shtab@ssv.uz">    <img src="./Rasmlar/twitter.png" alt="icon"> </a>
                    </span>
                    <span class="icon_box">
                    <a href="urgench.tssb.shtab@ssv.uz">    <img src="./Rasmlar/xabar.png" alt="icon"> </a>
                     </span>
                </div>
            </div>
            <div class="footer_right">
                <h1>Алоқа:</h1>
                <div class="tel">
                    <img src="./Rasmlar/tel.png" alt="icon">
                    <div class="d-flex flex-column">
                    <h2>+998 (62) 352-14-73</h2>
                    <h2>+998 (62) 352-16-88</h2>
                </div>
                </div>
                <p>© 2022 Урганч туман тиббиёт бирлашмаси</p>
            </div>
        </footer>
    </div>
</body>
</html>