<div class="page__main-block main-block">
            <div class="main-block__body">
                <h1 class="main-block__title">Бирлашма билан боғланиш</h1>
                
                <h4 style="color:#1A6F96;"><a href="/" style="text-decoration:none; color:#1A6F96;"> Бош сахифа </a> &#10072;  Боғланиш </h4>
            </div>
                <div class="main-block__image _ibg">
                    <img src="./Rasmlar/rasm4.jpg" alt="...">
                </div>
            </div>
<br><br>
<div class="container">
  <main>
 

    <form action="/admin" name="myForm" onsubmit="return validateForm()" method="post" class="needs-validation" novalidate>
      <div class="sirojkalla" style="display: flex;">
        <div class="col-md-7 col-lg-8">
          <div class="row g-3">
            <div class="col-sm-6">
              <label for="firstName" class="form-label">Исми</label>
              <input name="name" type="text" class="form-control" id="firstName" placeholder="" value="" required>
              <div class="invalid-feedback">
                Valid first name is required.
              </div>
            </div>

            <div class="col-sm-6">
              <label for="lastName" class="form-label">Фамилияси</label>
              <input name="surname" type="text" class="form-control" id="lastName" placeholder="" value="" required>
              <div class="invalid-feedback">
                Valid last name is required.
              </div>
            </div>

            <div class="col-12">
              <label for="email" class="form-label">Email address</label>
              <input name="email" type="email" class="form-control" id="email" placeholder="email@example.com">
              <div class="invalid-feedback">
                Please enter a valid email address for shipping updates.
              </div>
            </div>

            <div class="col-md-5">
              <label for="country" class="form-label">Жинс</label>
              <select name="gender" class="form-select" id="country" required>
                <option>Танланг*</option>
                <option value="male">Эркак</option>
                <option value="female">Аел</option>
              </select>
              <div class="invalid-feedback">
                Please select a valid gender.
              </div>
            </div>

            <div class="col-md-7">
              <label for="address" class="form-label">Телефон</label>
              <input name="number" type="text" class="form-control" id="number" placeholder="998(**)" required>
              <div class="invalid-feedback">
                Please enter your shipping number.
              </div>
            </div>


            <div class="col-12">
              <label for="address" class="form-label">Хабар</label>
              <input name="text" type="text" class="form-control" id="address" placeholder="Хабар*" required>
              <div class="invalid-feedback">
                Please enter your shipping address.
              </div>
            </div>
          </div>
        </div>

        <div class="contacts-main" style="font-family: sans-serif; color:#1A6F96; margin-left:15px; fon">
          <h3>Боғланиш:</h3>
          <div class="contacts-item" style="font-family: sans-serif">
            <strong>Манзил:</strong>
            <span>Хоразм вилояти Урганч тумани Ибн Сино кўчаси 12-уй</span>
          </div><br>
          <div class="contacts-item">
            <strong>Телефон::</strong>
            <a href="tel:+998(71) 239-47-95">+998 (62) 352-14-73</a>
          </div><br>
          <div class="contacts-item">
            <strong>Факс:</strong>
            <a href="fax:+998(71) 241-16-34">+998 (62) 352-16-88</a>
          </div><br>
          <div class="contacts-item">
            <strong>Электрон почта:</strong>
          <p style="color:#1A6F96;">urgench.tssb.shtab@ssv.uz</p>
          </div>
          <div class="contacts-item">
            <strong>Ташкилотнинг иш режими:</strong>
            <span>Душанба - Жума 8:30 дан 17:00 гача</span>
          </div><br>
          <div class="contacts-item">
            <strong>Қабул кунлари:</strong>
            <span>Душанба - Жума 8:30 дан 17:00 гача</span>
          </div><br>
          <div class="contacts-item">
            <strong>Транспорт:</strong>
            <span><span>Автобус: 6, 19</span></span>
          </div>
        </div>
      </div>

      <hr class="my-4 mx-2  ">

      <input class="w-70 btn btn-lg text-white" style="background-color:#1A6F96;" type="submit" onclick="myFunction()" value="Юбориш">
    </form>
<hr class="my-4 mx-2"> <br><br>
<h3 style="color:#1A6F96 ;">Бизнинг манзил:</h3>
    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A6de80c32aee50883b3fc41dce30de0f62821defd46cd6984244317c942bb99d2&amp;width=100%25&amp;height=477&amp;lang=ru_RU&amp;scroll=true">
function myFunction() {
  alert("Аризангиз муваффақиятли юборилди!");
}
</script>
</div>
<script>
  function validateForm() {
  var x = document.forms["myForm"]["name"].value;
  if (x == "") {
    alert("Хамма жойлар толдирилиши шарт!!!");
    return false;
  }
    var x = document.forms["myForm"]["surname"].value;
  if (x == "") {
    alert("Хамма жойлар толдирилиши шарт!!!");
    return false;
  }
    var x = document.forms["myForm"]["email"].value;
  if (x == "") {
    alert("Хамма жойлар толдирилиши шарт!!!");
    return false;
  }
    var x = document.forms["myForm"]["gender"].value;
  if (x == "") {
    alert("Хамма жойлар толдирилиши шарт!!!");
    return false;
  }
    var x = document.forms["myForm"]["number"].value;
  if (x == "") {
    alert("Хамма жойлар толдирилиши шарт!!!");
    return false;
  }
    var x = document.forms["myForm"]["text"].value;
  if (x == "") {
    alert("Хамма жойлар толдирилиши шарт!!!");
    return false;
  }
  else{
    alert("Аризангиз муваффақиятли юборилди!")
  }
}
</script>
