        <div class="page__main-block main-block">
            <div class="main-block__body">
                <h1 class="main-block__title">Тиббиёт бирлашмаси бўлимлари</h1>
                
                <h4 style="color:#1A6F96;"><a href="/" style="text-decoration:none; color:#1A6F96;"> Бош сахифа </a> &#10072; Бўлимлар </h4>                    

                <!-- <div class="main-block__buttons">
                    <a href="#" class="main-block__button"></a>
                    <a href="#" class="main-block__button"></a>
                </div> -->

            </div>

                <div class="main-block__image _ibg">
                    <img src="./Rasmlar/rasm4.jpg" alt="...">
                </div>
            </div>

  <main class="page" style="color:#1A6F96 ;">


            <section class="page__content bolimlar">
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 mx-auto my-5">
                    <div class="card p-0 col" style="max-width: 300px;">
                        <img src="./Rasmlar/kardiologiya.jpg" class="card-img" alt="..." style="max-width: 300px;">
            
                        <div class="card-body">
                            <h2 class="card-title" style="font-size: 32px;">
                                Кардиология
                            </h2>
            
                            <div class="card-data">
                                <p class="card-text d-flex" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; line-height: 1.5;">КАРДИОЛОГИЯ (кардио… ва…логия) — тиббиёт фанининг бир бўлими: юрак-томир системасининг тузилиши, функцияси ва касалликларини, уларнинг юзага келиш сабаблари, ўзига хос кечиши ҳамда диагностикасини ўрганади, шунингдек, уларни аниқлаш, даволаш ва олдини олиш усулларини ишлаб чиқади. Кардиологиянинг мустақил фан сифатида шаклланиши ва ривожланиши 19-20-а. ларга тўғри келади.</p>
            
                            </div>
                        </div>
            
                    </div>

                    <div class="card p-0 col" style="max-width: 300px;">
                        <img src="./Rasmlar/tugruq.webp" class="card-img" alt="..." style="max-width: 300px;">
                
                        <div class="card-body">
                            <h2 class="card-title" style="font-size: 32px;">
                                Туғрук
                            </h2>
                
                            <div class="card-data">
                                <p class="card-text d-flex" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; line-height: 1.5;">Хомиладор аёлга туғиш жараёни бошланишини аниклаб олиш осон бўлмайди, лекин тез кунларда фарзанднинг дунёга келишини билдирувчи белгилар хам бор. Хомиладорликнинг сўнгги  хафталарида аёллар сабрсизлик билан фарзанди дунёга келишини кутишади ва “Качон болакай туғилади ?” деган саволни кўп беришади.</p>
                
                            </div>
                        </div>
                
                    </div>

                    <div class="card p-0 col" style="max-width: 300px;">
                        <img src="./Rasmlar/tezkorlik.jpg" class="card-img" alt="..." style="max-width: 300px;">
                
                        <div class="card-body">
                            <h2 class="card-title" style="font-size: 32px;">
                                Шошилинч
                            </h2>
                
                            <div class="card-data">
                                <p class="card-text d-flex" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; line-height: 1.5;">Шошилинч тиббий ёрдам кўрсатиш давлат хизмати ҳам воқеа юз берган жойнинг ўзида, ҳам тўсатдан пайдо бўлган касалликлар,бахтсиз ҳодисалар, майиб бўлишлар ва захарланишлар, туғруқ вақтида мураккаб аҳволга тушиш ортида фуқароларнинг ёки атрофдагиларнинг соғлиғи ёки ҳаётига хавф солувчи ҳолат юз берган вазиятларда стационарга олиб боришда катта ёшдаги ва болалар ёшидаги аҳолига куну тун тиббий ёрдам кўрсатишга мўлжалланган.</p>
                
                            </div>
                        </div>
                
                    </div>

                    <div class="card p-0 col" style="max-width: 300px;">
                        <img src="./Rasmlar/jarrohlik.jpeg" class="card-img" alt="..." style="max-width: 300px;">
                
                        <div class="card-body">
                            <h2 class="card-title" style="font-size: 32px;">
                                Хирургия
                            </h2>
                
                            <div class="card-data">
                                <p class="card-text d-flex" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; line-height: 1.5;">ХИРУРГИЯ (юн. cheir — қўл ва ergon — ҳаракат, иш) , жарроҳлик — тиббиётнинг бир соҳаси. Қадимдан одамлар ўзўзига ёки бир-бирларига ёрдам бериб, жароҳатдан оқаётган қонни тўхтатиш учун жароҳатни босиб туриш, яраларга кул сепиш каби оддий усуллардан фойдаланганлар. Қад. қазилмаларда бош суяк чаноғи трепанацияси, оёқ ампутациясидан кейинги излар топилган.</p>
                
                            </div>
                        </div>
                
                    </div>

                    <div class="card p-0 col" style="max-width: 300px;">
                        <img src="./Rasmlar/terapiya.jpg" class="card-img" alt="..." style="max-width: 300px;">
            
                        <div class="card-body">
                            <h2 class="card-title" style="font-size: 32px;">
                                Терапия
                            </h2>
            
                            <div class="card-data">
                                <p class="card-text d-flex" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; line-height: 1.5;">ТЕРАПИЯ (юн. therapeia — даволаш) — 1) консерватив усуллар: доридармонлар (фармакотерапия), антибактериал (кимётерапия, антибиотикотерапия) ва гормонал моддалар; зардоб ва вакциналар, турли ионловчи нурлар (нур билан даволаш); иқлим, балчиқ, минерал сувлар, массаж, электр токи ва б. физик омиллар (санаторий ва курортларда даволаш, физиотерапия, шифобахш физкультура; парҳез ва б. йўллар) билан даволаш; 2) ички касалликлар тиббиёти</p>
            
                            </div>
                        </div>
            
                    </div>
                    
                    <div class="card p-0 col" style="max-width: 300px;">
                        <img src="./Rasmlar/urologiya.jpg" class="card-img" alt="..." style="max-width: 300px;">
                
                        <div class="card-body">
                            <h2 class="card-title" style="font-size: 32px;">
                                Урология
                            </h2>
                
                            <div class="card-data">
                                <p class="card-text d-flex" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; line-height: 1.5;">УРОЛОГИЯ (уро… ва… логия) — клиник тиббиёт соҳаси; сийдик аъзолари системаси, жинсий аъзолар касалликларини, уларнинг келиб чиқиш сабабларини ўрганади, шунингдек, бу касалликлар диагностикаси, давоси ҳамда олдини олиш усулларини ишлаб чиқади. Урология 20-а. да хирургиядн мустақил фан сифатида ажралиб чиқди. Урологик касалликлар кадимдан маълум. Абу Али ибн Сино қовукдаги тошларни тушириш сирасрорларини билган.</p>
                
                            </div>
                        </div>
                
                    </div>

                    <div class="card p-0 col" style="max-width: 300px;">
                        <img src="./Rasmlar/gen.jpg" class="card-img" alt="..." style="max-width: 300px;">
                
                        <div class="card-body">
                            <h2 class="card-title" style="font-size: 32px;">
                                Гинекология
                            </h2>
                
                            <div class="card-data">
                                <p class="card-text d-flex" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; line-height: 1.5;">ГИНЕКОЛОГИЯ (юн. gynaikos — аёл ва…логия) — клиник тиббиётнинг бир соҳаси; турли ёшдаги хотин-қизлар организмининг ўзига хос анатомик-физиологик хусусиятларини ҳамда уларнинг жинсий аъзолари касалликларини ўрганади. Аёлларнинг нормал жинсий фаолияти — ҳайз кўриши, бола туғиши, шунингдек, бола туғиш ва ҳайз кўришдан қолиши (климактерия даври) ҳамда шу даврга хос касалликлар, туғмаслик сабаблари.</p>
                
                            </div>
                        </div>
                
                    </div>

                    <div class="card p-0 col" style="max-width: 300px;">
                        <img src="./Rasmlar/bolalar1.jpg" class="card-img" alt="..." style="max-width: 300px;">
                
                        <div class="card-body">
                            <h2 class="card-title" style="font-size: 32px;">
                                Болалар
                            </h2>
                
                            <div class="card-data">
                                <p class="card-text d-flex" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; line-height: 1.5;">Синоптофор ёки синоптископ - офталмологлар томонидан ғилайлик касаллигини аниқлаш ва даволаш учун ишлатиладиган ортоптик ва диагностика воситаси. Унинг ёрдами билан кўриш органининг мотор (ҳаракатланиш) функциясидаги бузилишларни тузатиш ҳам мумкин. Қурилма меъёрдан четланиш бурчагини аниқлашга, скотомаларни аниқлашга, фузион захиралари ва тўр парданинг ҳолати тўғрисида маълумот олишга имкон беради.</p>
                
                            </div>
                        </div>
                
                    </div>

                    <div class="card p-0 col" style="max-width: 300px;">
                        <img src="./Rasmlar/rean.jpg" class="card-img" alt="..." style="max-width: 300px;">
                
                        <div class="card-body">
                            <h2 class="card-title" style="font-size: 32px;">
                                Реанимация
                            </h2>
                
                            <div class="card-data">
                                <p class="card-text d-flex" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; line-height: 1.5;">РЕАНИМАЦИЯ (ре… ва лот. animatio — жонлантириш, тирилтириш) — клиник ўлим ҳолатидаги кишиларни тирилтириш, шунингдек, ҳаётий муҳим аъзоларнинг бахтсиз ҳодисалар, касаллик ва унинг асоратлари натижасида тўсатдан йўқолган ёки ўзгарган функцияларини тиклаш учун кўриладиган чора-тадбирлар мажмуи. Юрак фаолияти тўхтаганда ёки амалда нафас ҳам, қон айланиш ҳам организм эҳтиёжини таъминлай олмай қолган ҳолларда қўлланилади.</p>
                
                            </div>
                        </div>
                
                    </div>
                </div>

            </section>
    </main>