      <div class="page__main-block main-block">
            <div class="main-block__body">
                <h1 class="main-block__title">Бирлашма хакида умумий маълумот</h1>
                
                <h4 style="color:#1A6F96;"><a href="/" style="text-decoration:none; color:#1A6F96;"> Бош сахифа </a> &#10072; Туман хакида &#10072; Умумий маълумот </h4>                    

                <!-- <div class="main-block__buttons">
                    <a href="#" class="main-block__button"></a>
                    <a href="#" class="main-block__button"></a>
                </div> -->

            </div>

                <div class="main-block__image _ibg">
                    <img src="./Rasmlar/rasm4.jpg" alt="...">
                </div>
            </div>

        <main class="page umumiy">
            <div class="main-block">
                <div class="main-block__text">
                    Урганч туман тиббиёт бирлашмаси 290 ўрнига мўлжалланган беморларни кабул килиш кувватига эга. Тиббиёт бирлашмаси таркибида кўп тармокли марказий поликлиника, 7 та кундузги статсионар фаолияти ёлга кўйилган оилавий поликлиникаси ва 3 та оилавий шифокорлик пунктлари 58 МФЙлари ахолисига сифатли ва самарали хизмат кўрсатиб келмокда. Урганч туман тиббиёт бирлашмасида туғрук бўлими, лаборатория бўлими, диагностика, шошилинч хирургия, реанимация, режали хирургия, болалар бўлими, реабилитация, хўжалик хисобидаги стоматология бўлими, терапия ва тез тиббий ёрдам бўлимлари мавжуд. Туғрук бўлимида 2020 йилда 6 млрд. 200 млн. сўмлик капитал реконструкция ишлари бажарилган, 2016 йилда кўп тармокли поликлиникада 1 млрд. 437 минг сўмлик капитал реконструкция ишлари бажарилган.
                </div>
                <hr>
                <div class="main-block__img">
                    <img src="./Rasmlar/bino.jpg" alt="..." style="width: 1200px;">
                    <div class="image-about">
                        Урганч туман тиббиет бирлашмаси биноси
                    </div>
                </div>
                <hr>
                <div class="main-block__text">
                    Тиббиёт бирлашма тизимидаги оилавий поликлиникалар 2017 йил май ойида президентимиз фармони билан оптимизация кирди, шунга асосан 7 та оилавий поликлиника ташкил килинди. Оилавий поликлиникалар негизида тез тиббий ёрдам шахобчалари ташкил килинди. Ташкил этилган оилавий поликлиникаларда тор соҳа мутаҳассислардан (педиатр, терапевт, акушер гинеколог, стоматолог, хирург, УТТ врачи, тез тиббий ёрдам шифокори) фаолият юритишмокда. Ташкил этилган 7 та оилавий поликлиникаларда ва 3 та кишлок врачлик пунктларида ижтимоий дорихона филиаллари фаолият юритади. Аҳоли ўртасида олиб борилаётган патронаж ишлари сифат ва самарадорлигини ошириш максадида патронаж сумкалари (тўлик 9 турдаги инвентлари билан) олиб патронаж хамшираларга таркатиб берилди. 2018 йилда 25-сонли оилавий поликлиникада таъмирлаш ишлари бажарилган.
                </div>
                <hr>
                <div class="main-block__img">
                    <img src="./Rasmlar/mamuriyat.jpg.jpg" alt="..." style="max-width:1200px; max-height:600px; width:80vw;">
                    <div class="image-about">
                        Урганч туман тиббиет бирлашмаси мамурият биноси
                    </div>
                </div>
                <hr>
                <div class="main-block__text">
                    Куввати 100 ўринга мўлжалланган 26-сонли поликлиника 1987 йил курилган бўлиб, 2012 йилда таъмирлаш ишлари бажарилган. 2019 йилда терапия бўлими, хўжалик хисобидаги стоматология ва маъмурият биноларида жами 5.5 млрд. сўмлик реконструкция ишлари бажарилди. 2021 йилда 30 ўринга мўлжалланган болалар бўлими биноси курилди ва маъмурият биноси орасида болалар майдончаси очилди. Тез тиббий ёрдам гараж биносида таъмирлаш ишлари бажарилиб, янги тез тиббий ёрдам биноси курилиб битказилди, Ҳудудда ободонлаштириш ишлари бажарилди.
                </div>
            </div>
        </main>

                