 <br><br><br>
    
        <div class="content md-auto" id="newsPrint" style="font-size: large;">
                                
   <p align="justify">Ўзбекистон Республикаси Соғлиқни сақлаш вазирлиги (кейинчалик матнда Вазирлик) соғлиқни сақлаш бўйича марказий давлат бошқаруви ҳисобланиб, ўз фаолияти бўйича Ўзбекистон Республикаси Вазирлар Маҳкамасига бўйсунади. Вазирлик фаолиятини бошқа давлат идоралари, жумладан давлат муассасалари, Қорақалпоғистон Республикаси, вилоятлар ва Тошкент шаҳрининг ижро этувчи ҳокимият идоралари, шунингдек бошқа жамоатчилик ташкилотлари билан бирга олиб боради.</p>
    <p align="justify">Вазирлик фаолияти Ўзбекистон Республикаси Конституцияси, қонунлари, 
        Ўзбекистон Республикаси Олий Мажлисининг бошқа расмий ҳужжатлари, Ўзбекистон Республикаси Президентининг буйруқ ва фармойишлари, 
        Вазирлар Маҳкамасининг қарор ва буйруқлари, шунингдек бошқа қонуний ҳужжатлар, Ўзбекистон Республикаси билан соғлиқни сақлаш бўйича
         тузилган халқаро шартномалар, шунингдек ушбу Низом асосида юритилади.</p>
    <hr class="my-4 mx-2"> <br>
    <p align="justify">
<div>
      <img src="./Rasmlar/bino.jpg" class="d-flex align-items-center justify-content-center mx-auto" alt="" style="width: 1000px;" height="550  px">
      <h4 style="font-family:sans-serif;" class="text-center">Урганч туман тиббиет бирлашмаси биноси</h4>
</div>
<hr class="my-4 mx-2"><br>
    </p>
    <p align="justify">Вазирлик ваколати доирасида чиқарилган меъёрий-ҳуқуқий
         ҳужжатлар ижроси давлат идоралари, корхоналари, муассасалари, ташкилотлари ва умуман Ўзбекистон Республикасида жойлашган мулкчилик 
         шаклидан қаътий назар барча жамоатчилик бирлашмалари ва жисмоний шахслар учун мажбурийдир. Ўзбекистон Республикаси Соғлиқни сақлаш вазирлиги,
          Қорақалпоғистон Республикаси Соғлиқни сақлаш вазирлиги, вилоят ва Тошкент шаҳрида соғлиқни сақлаш бўйича фаолият олиб бораётган идоралар, уларнинг
           шаҳар ва туманлардаги бўлимлари республикада ягона соғлиқни сақлаш бошқарув идораси тизимини ташкил этади.</p>
    <p align="justify">Вазирлик юридик шахс бўлиб, ўзига тегишли мулкни, кирим &ndash; чиқим ҳаражатларини, банкдаги ҳисоб &ndash;китобларни 
        бошқариш ва ўз номи, шунингдек Ўзбекистон Республикаси гербининг тасвири туширилган муҳрга эгалик қилиш ҳуқуқига эга.</p>                                                                                </div>
                        </div>
                    </div>
                </div>

                <hr class="my-4 mx-2"><br>

<div>
      <img src="./Rasmlar/mamuriyat.jpg.jpg"  alt="" class="d-flex align-items-center justify-content-center mx-auto" style="width: 1000px;" height="667.8px">
      <h4 style="color:cornflowerblue;" class="text-center">Урганч туман тиббиет бирлашмаси мамурият биноси</h4>
</div>

                <hr class="my-4 mx-2"><br><br>

                <h2 class="text-center" style="font-family:sans-serif ;">Болимлар:</h2>
                <br><br>
                <div class="row d-flex text-center">
                    <div class="col-lg-4">
                        <img src="./Rasmlar/tez.jpg" alt="">
                    <br><br>  <a href="" style="text-decoration: none; color: deepskyblue ;"> <h2>Тез тиббий ердам болими</h2> </a>
                    </div>

                    <div class="col-lg-4">
                    <img src="./Rasmlar/yurak.jpg" alt="">
                    <br><br>
                    <a href="" style="text-decoration: none; color: deepskyblue ;"> <h2>Реабилитация болими</h2> </a>  
                    </div>

                    <div class="col-lg-4">
                    <img src="./Rasmlar/baby.jpg" alt="" style="border-radius: 70%;" width="140" height="140">
                    <br><br>
                    <a href="" style="text-decoration: none; color: deepskyblue ;"> <h2>Тугрук болими</h2> </a>
                </div>
                </div>
<br><br>
                <hr class="my-4 mx-2">

                 <div class="text-center">
            <img src="./Rasmlar/ishchilar.jpg" alt="" width="1000px" height="1296px">
                </div>
