<div class="page__main-block main-block">
            <div class="main-block__body">
                <h1 class="main-block__title">Тиббиёт бирлашмаси муассасалари</h1>
                
                <h4 style="color:#1A6F96;"><a href="/" style="text-decoration:none; color:#1A6F96;"> Бош сахифа </a> &#10072;  Муассасалар </h4>
            </div>
                <div class="main-block__image _ibg">
                    <img src="./Rasmlar/rasm4.jpg" alt="...">
                </div>
            </div>

 <div class="row row-cols-1 row-cols-md-2 mx-auto mt-5" style="max-width: 1024px; color:#1A6F96;">
        <div class="card border-0 d-flex flex-sm-row" style="max-width: 590px;">
            <a href="#" class="card-link pt-3">
                <img src="./Rasmlar/image_2022-07-13_11-30-21.png" class="card-img" alt="..." style="width: 160px;">
            </a>

            <div class="card-body">
                <h2 class="card-title" style="font-size: 16px;">
                    <a href="#" style="color:#1A6F96; font-weight:bold;" class="card-link pt-3 text-decoration-none">
                        Урганч туман тиббиёт бирлашмаси 25-сон оилавий поликлиникаси
                    </a>
                </h2>

                <div class="card-data opacity-75">
                    <p class="card-text d-flex" style="color:#1A6F96;"> &#xf3c5; Урганч туман Ғайбу қишлоғи, Туркманлар махалласи</p>

                </div>
            </div>

        </div>

        <div class="card border-0 d-flex flex-sm-row col" style="max-width: 590px;">
            <a href="#" class="card-link pt-3">
                <img src="./Rasmlar/image_2022-07-24_23-18-45.png" class="card-img" alt="..." style="width: 160px;">
            </a>

            <div class="card-body">
                <h2 class="card-title" style="font-size: 16px;">
                    <a href="#"  class="card-link pt-3 text-decoration-none" style="color:#1A6F96; font-weight:bold;">
                        Урганч туман тиббиёт бирлашмаси 26-сон оилавий поликлиникаси
                    </a>
                </h2>

                <div class="card-data opacity-75">
                    <p class="card-text d-flex" style="color:#1A6F96;">&#xf3c5; Урганч туман Ғайбу қишлоғи, Оёқбоғ махалласи</p>

                </div>
            </div>

        </div>

        <div class="card border-0 d-flex flex-sm-row col" style="max-width: 590px;">
            <a href="#" class="card-link pt-3">
                <img src="./Rasmlar/image_2022-07-24_23-19-30.png" class="card-img" alt="..." style="width: 160px;">
            </a>

            <div class="card-body">
                <h2 class="card-title" style="font-size: 16px;">
                    <a href="#" style="color:#1A6F96; font-weight:bold;" class="card-link pt-3 text-decoration-none">
                        Урганч туман тиббиёт бирлашмаси 27-сон оилавий поликлиникаси
                    </a>
                </h2>

                <div class="card-data opacity-75">
                    <p class="card-text d-flex" style="color:#1A6F96;"> &#xf3c5; Урганч туман Ғайбу қишлоғи, Оёқбоғ махалласи</p>

                </div>
            </div>

        </div>

        <div class="card border-0 d-flex flex-sm-row col" style="max-width: 590px;">
            <a href="#" class="card-link pt-3">
                <img src="./Rasmlar/image_2022-07-24_23-21-31.png" class="card-img" alt="..." style="width: 160px;">
            </a>

            <div class="card-body">
                <h2 class="card-title" style="font-size: 16px;">
                    <a href="#" style="color:#1A6F96; font-weight:bold;" class="card-link pt-3 text-decoration-none">
                        Урганч туман тиббиёт бирлашмаси 28-сон оилавий поликлиникаси
                    </a>
                </h2>

                <div class="card-data opacity-75">
                    <p class="card-text d-flex" style="color:#1A6F96;">&#xf3c5; Урганч туман Чоткўпир қишлоғи, Орзу махалласи</p>

                </div>
            </div>

        </div>
        
        <div class="card border-0 d-flex flex-sm-row col" style="max-width: 590px;">
            <a href="#" class="card-link pt-3">
                <img src="./Rasmlar/image_2022-07-24_23-23-47.png" class="card-img" alt="..." style="width: 160px;">
            </a>

            <div class="card-body">
                <h2 class="card-title" style="font-size: 16px;">
                    <a href="#" style="color:#1A6F96; font-weight:bold;" class="card-link pt-3 text-decoration-none">
                        Урганч туман тиббиёт бирлашмаси 29-сон оилавий поликлиникаси
                    </a>
                </h2>

                <div class="card-data opacity-75">
                    <p class="card-text d-flex" style="color:#1A6F96;">&#xf3c5; Урганч туман Юқоридўрман қишлоғи, Мергановул махалласи</p>

                </div>
            </div>

        </div>
        
        <div class="card border-0 d-flex flex-sm-row col" style="max-width: 590px;">
            <a href="#" class="card-link pt-3">
                <img src="./Rasmlar/image_2022-07-24_23-26-17.png" class="card-img" alt="..." style="width: 160px;">
            </a>

            <div class="card-body">
                <h2 class="card-title" style="font-size: 16px;">
                    <a href="#" style="color:#1A6F96; font-weight:bold;" class="card-link pt-3 text-decoration-none">
                        Урганч туман тиббиёт бирлашмаси 30-сон оилавий поликлиникаси
                    </a>
                </h2>

                <div class="card-data opacity-75">
                    <p class="card-text d-flex" style="color:#1A6F96;"> &#xf3c5; Урганч туман Юқорибоғ қишлоғи, Бободехқон махалласи</p>

                </div>
            </div>

        </div>
        
        <div class="card border-0 d-flex flex-sm-row col" style="max-width: 590px;">
            <a href="#" class="card-link pt-3">
                <img src="./Rasmlar/image_2022-07-24_23-27-13.png" class="card-img" alt="..." style="width: 160px;">
            </a>

            <div class="card-body">
                <h2 class="card-title" style="font-size: 16px;">
                    <a href="#" style="color:#1A6F96; font-weight:bold;" class="card-link pt-3 text-decoration-none">
                        Урганч туман тиббиёт бирлашмаси 31-сон оилавий поликлиникаси
                    </a>
                </h2>

                <div class="card-data opacity-75">
                    <p class="card-text d-flex" style="color:#1A6F96;">&#xf3c5; Урганч туман Чондирқиёт қишлоғи, Қиёт махалласи</p>

                </div>
            </div>

        </div>
        
        <div class="card border-0 d-flex flex-sm-row col" style="max-width: 590px;">
            <a href="#" class="card-link pt-3">
                <img src="./Rasmlar/image_2022-07-24_23-28-30.png" class="card-img" alt="..." style="width: 160px;">
            </a>

            <div class="card-body">
                <h2 class="card-title" style="font-size: 16px;">
                    <a href="#" style="color:#1A6F96; font-weight:bold;" class="card-link pt-3 text-decoration-none ">
                        Урганч туман тиббиёт бирлашмаси Анжирчи оилавий шифокорлик пункти
                    </a>
                </h2>

                <div class="card-data opacity-75">
                    <p class="card-text d-flex" style="color:#1A6F96;">&#xf3c5; Урганч туман Чаккашоликор қишлоғи, Ўрта дўрман махалласи</p>

                </div>
            </div>

        </div>
    </div>