<form action="/yangiliklar" method="post" class="needs-validation" >
    <div style="display: flex; flex-direction:column; gap: 10px; width:40%; margin-top:50px; margin-left:25%" >
        <input name="date" class="form-control" type="text" placeholder="Sanani kiriting..."  id="formFile">
        <input name="subtitle" type="text" placeholder="Sarlavhani yozing..." class="form-control">
        <textarea name="message" class="form-control" placeholder="Xabarni yozing..." id="" cols="30" rows="10"></textarea>

        <button class="btn btn-primary" type="submit">Yuborish</button>
    </div>
</form>