<form action="#" class="needs-validation" >
    <div style="display: flex; flex-direction:column; gap: 10px; width:40%; margin-top:50px; margin-left:25%" >
        <input name="title" class="form-control" type="text" placeholder="Sarlavhani kiriting..."  id="formFile">
        <input name="date" type="text" placeholder="Sanani kiriting..." class="form-control">
        <textarea name="message" class="form-control" placeholder="Xabarni yozing..." id="" cols="30" rows="10"></textarea>

        <button class="btn btn-primary" type="submit" >Yuborish</button>
    </div>
</form>

