<div class="page__main-block main-block">
            <div class="main-block__body">
                <h1 class="main-block__title">Тиббиёт бирлашмаси рахбарияти</h1>
                
                <h4 style="color:#1A6F96;"><a href="/" style="text-decoration:none; color:#1A6F96;"> Бош сахифа </a> &#10072; Туман хакида &#10072; Рахбарият </h4>
            </div>
                <div class="main-block__image _ibg">
                    <img src="./Rasmlar/rasm4.jpg" alt="...">
                </div>
            </div>
<br>
   <main class="page rahbariyat">
            <div class="main-block">
                <div class="main-block__img">
                    <img src="./Rasmlar/ishchilar.jpg" alt="...">
                </div>
            </div>
        </main>