<main class="page">
    <div class="page__main-block main-block">
        <div class="main-block__body">
            <h1 class="main-block__title">Урганч туман тиббиёт бирлашмаси</h1>

            <div class="main-block__buttons">
                <a href="/haqida" class="main-block__button">Умумий маълумот</a>
                <a href="/boglanish" class="main-block__button">Боғланиш</a>
            </div>

        </div>

        <div class="main-block__image _ibg">
            <img src="./Rasmlar/rasm4.jpg" alt="...">
        </div>
    </div>

    <section class="page__content yangiliklar">
        <div class="row row-cols-1 row-cols-md-2 mx-auto my-5" style="max-width: 1440px;">
            
            <div class="card p-0 col border-0">
                <a href="#" class="card-link _link d-flex align-items-center mt-3" style="color:#1A6F96 ;">

                    <div class="date">07<br><span>Дек</span></div>

                    <div class="card-body p-0">
                        <h2 class="card-title mt-3">
                            ЖССТ: Грипп эпидемиясидан кўпроқ кексалар ва болалар азият чекмоқда
                        </h2>

                        <div class="card-data">
                            <p class="card-text d-flex opacity-50"
                                style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; line-height: 1.5;">
                                Шу кунларда дунёнинг қатор давлатларида мавсумий эпидемиялар авж олмоқда. Хусусан,
                                Европа соғлиқни сақлаш тузилмалари минтақада кенг тарқалаётган грипп хасталигидан
                                хавотирда. Энг ёмони, бу ҳолат коронавирус пандемиясининг шиддатли тўлқини билан бирга
                                кечяпти.</p>
                        </div>
                    </div>
                </a>

            </div>

            <div class="card p-0 col border-0">
                <a href="#" class="card-link _link d-flex align-items-center" style="color:#1A6F96 ;">

                    <div class="date">07<br><span>Дек</span></div>

                    <div class="card-body p-0">
                        <h2 class="card-title mt-3">
                            ССВ: Жиззах вилоятида бир қатор тайинловлар амалга оширилди.
                        </h2>

                        <div class="card-data">
                            <p class="card-text d-flex opacity-50"
                                style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; line-height: 1.5;">
                                Жиззах вилоятидаги бир нечта туман тиббиёт бирлашмалари бошлиқлари лавозимларига
                                ўтказилган очиқ танлов натижаларига кўра, қатор тайинловлар амалга оширилди.</p>
                        </div>
                    </div>
                </a>

            </div>

            <div class="card p-0 col border-0">
                <a href="#" class="card-link _link d-flex align-items-center" style="color:#1A6F96 ;">

                    <div class="date">07<br><span>Дек</span></div>

                    <div class="card-body p-0">
                        <h2 class="card-title mt-3">
                            ССВ: Эртага тиббиёт муассасалари туну кун ишлайди
                        </h2>

                        <div class="card-data">
                            <p class="card-text d-flex opacity-50"
                                style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; line-height: 1.5;">
                                Эртага — умумхалқ байрами — Ўзбекистон Республикаси Конституцияси кунида қуйидаги
                                даволаш-профилактика муассасаларининг 40 минг нафар тиббиёт ходими қонунда белгиланган
                                тартибда, навбатчилик асосида аҳолига хизмат кўрсатади.</p>
                        </div>
                    </div>
                </a>

            </div>

            <div class="card p-0 col border-0">

                <a href="#" class="card-link _link d-flex align-items-center" style="color: #1A6F96;">

                    <div class="date">6<span><br>Сен</span></div>

                    <div class="card-body p-0">
                        <h2 class="card-title mt-3">
                            Россияда маймун чечагига қарши вакцина ишлаб чиқилди
                        </h2>

                        <div class="card-data">
                            <p class="card-text d-flex opacity-50"
                                style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; line-height: 1.5;">
                                Россиянинг Федерал тиббий-биологик агентлиги (ФМБА) маймун чечаги инфекциясига қарши
                                вакцина ишлаб чиқди. Айни пайтда янги препарат клиник синовдан ўтказилмоқда.
                                Агентлик раҳбари Вероника Скворцованинг маълум қилишича, дастлабки тадқиқотлар мазкур
                                вакцина юқори самарадорлик ва иммуногенликка эга. Энг муҳими, у хавфсиз бўлиб, ножўя
                                таъсирларни келтириб чиқармайди.</p>

                        </div>
                    </div>
                </a>

            </div>

            <div class="card p-0 col border-0">
                <a href="#" class="card-link _link d-flex align-items-center" style="color: #1A6F96;">

                    <div class="date">6<br><span>Сен</span></div>

                    <div class="card-body p-0">
                        <h2 class="card-title mt-3">
                            ССВ: Мактаб ошхоналарида “фастфуд” тайёрлаш ва сотиш тақиқланган
                        </h2>

                        <div class="card-data">
                            <p class="card-text d-flex opacity-50"
                                style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; line-height: 1.5;">
                                Хот-дог, лаваш, гамбургер, “хрустяшки”, чипс, газли ичимликлар. Бугунги кун болалари ва
                                ҳатто ёшлари севиб истеъмол қиладиган маҳсулотларнинг кичик бир рўйхати бу.
                                Бироқ ушбу егулик ва ичимликлар саломатлик учун зиён.</p>
                        </div>
                    </div>
                </a>

            </div>

            <div class="card p-0 col border-0">
                <a href="#" class="card-link _link d-flex align-items-center" style="color:#1A6F96 ;">

                    <div class="date">6<br><span>Сен</span></div>

                    <div class="card-body p-0">
                        <h2 class="card-title mt-3">
                            Сентябрь ойидан тиббиётда нималар ўзгаради?
                        </h2>

                        <div class="card-data">
                            <p class="card-text d-flex opacity-50"
                                style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; line-height: 1.5;">
                                Президентимизнинг шу йил 25 апрелдаги “Бирламчи тиббий-санитария ёрдамини аҳолига
                                яқинлаштириш ва тиббий хизматлар самарадорлигини ошириш бўйича қўшимча чора-тадбирлар
                                тўғрисида”ги қарорига мувофиқ:2022 йил 1 сентябрдан бошлаб шифокорларнинг якка тартибда
                                оилавий шифокорлик фаолиятини юритишга рухсат берилди.</p>

                        </div>
                    </div>
                </a>

            </div>

        </div>
    </section>
</main>

