 <main class="page">
        <div class="page__main-block main-block">
            <div class="main-block__body">
                <h1 class="main-block__title">Урганч туман тиббиёт бирлашмаси</h1>                    

                <div class="main-block__buttons">
                    <a href="/haqida" class="main-block__button">Умумий маълумот</a>
                    <a href="/boglanish" class="main-block__button">Боғланиш</a>
                </div>

            </div>

                <div class="main-block__image _ibg">
                    <img src="./Rasmlar/rasm4.jpg" alt="...">
                </div>
            </div>
{{#if error}}
<div class="alert alert-danger" role="alert">
  {{error}}
</div>
{{/if}}

            <section class="page__content yangiliklar">
                <div class="row row-cols-1 row-cols-md-2 mx-auto my-5" style="max-width: 1440px;">
                   
                        <div class="card p-0 col border-0">
                             {{#each yangiliklar}}
                            <a  href="#" class="card-link _link d-flex align-items-center" style="color: #1A6F96;">
                        
                                <div class="date"><span>{{date}}</span></div>

                                <div class="card-body p-0">
                                    <h2 class="card-title mt-3">
                                            {{subtitle}}
                                    </h2>
                        
                                    <div class="card-data">
                                        <p class="card-text d-flex opacity-50" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; line-height: 1.5;">{{message}}</p>
                        
                                    </div>
                                </div>
                            </a>
                             {{/each}}
                        </div>
                       
                        
                        {{!-- <div class="card p-0 col border-0">
                            <a href="#" class="card-link _link d-flex align-items-center">
                        
                                <div class="date">90<br><span>Янв</span></div>
                                
                                <div class="card-body p-0">
                                    <h2 class="card-title mt-3">
                                        Оёқларингиз увишадими?
                                    </h2>
                    
                                    <div class="card-data">
                                        <p class="card-text d-flex opacity-50" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; line-height: 1.5;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error repellat, consequatur illo, harum excepturi commodi architecto rerum pariatur at culpa sequi quos suscipit consectetur. Porro dolorum cum repudiandae molestiae accusantium deserunt fugit dolorem unde libero temporibus, sunt deleniti dolore at, eligendi harum dicta minus! Quaerat inventore voluptatibus officia impedit voluptatum? Quo, autem sequi ut aut, sapiente tempora vero optio magnam natus ipsa quod alias laboriosam rerum totam quam dolorum molestias facilis assumenda cupiditate doloremque molestiae maxime reprehenderit. Natus odit dignissimos debitis cum dicta alias aliquid commodi consectetur quos tempore voluptatem quisquam id est, iusto numquam neque a explicabo corporis dolore.</p>
                    
                                    </div>
                                </div>
                            </a>
                            
                        </div>

                        <div class="card p-0 col border-0">
                            <a href="#" class="card-link _link d-flex align-items-center">
                        
                                <div class="date">90<br><span>Янв</span></div>
                                
                                <div class="card-body p-0">
                                    <h2 class="card-title mt-3">
                                        Оёқларингиз увишадими?
                                    </h2>
                    
                                    <div class="card-data">
                                        <p class="card-text d-flex opacity-50" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; line-height: 1.5;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error repellat, consequatur illo, harum excepturi commodi architecto rerum pariatur at culpa sequi quos suscipit consectetur. Porro dolorum cum repudiandae molestiae accusantium deserunt fugit dolorem unde libero temporibus, sunt deleniti dolore at, eligendi harum dicta minus! Quaerat inventore voluptatibus officia impedit voluptatum? Quo, autem sequi ut aut, sapiente tempora vero optio magnam natus ipsa quod alias laboriosam rerum totam quam dolorum molestias facilis assumenda cupiditate doloremque molestiae maxime reprehenderit. Natus odit dignissimos debitis cum dicta alias aliquid commodi consectetur quos tempore voluptatem quisquam id est, iusto numquam neque a explicabo corporis dolore.</p>
                    
                                    </div>
                                </div>
                            </a>
                            
                        </div>
                        
                        <div class="card p-0 col border-0">
                            <a href="#" class="card-link _link d-flex align-items-center">
                                
                                <div class="date">90<br><span>Янв</span></div>    
                    
                                <div class="card-body p-0">
                                    <h2 class="card-title mt-3">
                                        Оёқларингиз увишадими?
                                    </h2>
                    
                                    <div class="card-data">
                                        <p class="card-text d-flex opacity-50" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; line-height: 1.5;">Кўпчилик инсонлар узоқ муддат бир жойда туриб ёки ўтириб қолса, оёқлари увишиб, ўзини ноқулай ҳис қилади. Бу ҳолат таъсири баъзиларда ўрнидан қўзғалиши билан йўқолса, айрим кишиларда увишган оёқлар маълум вақтдан кейингина ўзига келади.</p>
                    
                                    </div>
                                </div>
                            </a>
                            
                        </div>
--}}
                        </div>
                    </div>
            </section>
    </main>
