* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
a:hover {
    color: currentColor;
}
html,
body {
    /* height: 100%; */
    line-height: 1;
    font-family: sans-serif;
    color: #000;
}


/* ------------------------------Universal classes------------------------------ */
._ibg {
    position: relative;
}
._ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;left: 0;
    object-fit: cover;
}
._link {
    color: #000;
    text-decoration: none;
}


/* ============================================Header============================================ */


.header {
}
.header-main {
    max-width: 90%;
    margin: 10px auto;
    display: flex;
}
.header-text {
    margin: auto;
    text-align: center;
    color:  #006999;
}
.header-text > *:not(:last-child){
    padding-bottom: 10px;
}

.navbar {
    background-color: #1A6F96;

}
.nav {
    width: 100%;
    max-width: 1400px;
    padding: 0 2vw;
}
.navbar-toggler {
    margin-left: 90%;
}
.nav .nav-link {
    padding: 20px 50px;
    margin: 0 auto;
    font-weight: 600;
    white-space: nowrap;
    color: white;
}

.nav a{
    color: white;
}

.nav li {
    min-width: 160px;
}
.nav a:hover {
    background-color:#155979;
    color: white;
}


/* ============================================Page============================================ */


.page {
}
.page__main-block {
}
.page__content {
}


/* ============================================main-block============================================ */
.main-block {
    position: relative;
}
.main-block__body {
    max-width: 60%;
    padding: 215px 0 275px;
    position: relative;
    color: aliceblue;
    z-index: 2;
    margin-left: 100px;
}
.main-block__title {
    white-space: nowrap;
    font-size: 38px;
    color: #1A6F96;
    font-weight: 600;
}
.main-block__buttons {
    display: inline-flex;
    margin-top: 45px;
}
.main-block__button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1A6F96;
    color: aliceblue;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 500;
    margin-right: 15px;
    min-width: 120px;
    border-radius: 20px;
    min-height: 38px;
    text-transform: uppercase;
    padding: 10px 20px;
}
.main-block__button:last-child {
    margin: 0;
}
.main-block__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;left: 0; 
    object-position: right;
}


/* ============================================Page-content============================================ */


.material-symbols-outlined {
    margin-top: 1px;
}
.page__content .row {
    display: flex;
    justify-content: center;
}
.yangiliklar a._link:hover .card-body {
    color: #0056b3;
}
.yangiliklar .card {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 40%;
    min-height: 100px;
    border-radius: 0;
    
}
.yangiliklar .date {
    font-weight: 500;
    text-align: center;
    padding-right: 20px;
    font-size: 30px;
    color: #1f3c88;
}
.yangiliklar .date span {
    font-weight: normal;
    font-size: 16px;
}
.yangiliklar .card:nth-child(2n) {
    border-left: 1px solid #e2e3e7!important;
    border-right: 0 !important;
}
.yangiliklar ._link {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    max-width: 90%;
    border-bottom: 1px solid #e2e3e7!important;
    
}
.yangiliklar .card-title {
    font-weight: 500;
    line-height: 1.2;
}
.bolimlar .row {
    max-width: 1000px;
    gap: 2vw;
}


/* ============================================Footer============================================ */


.footer {
    position: relative;
    top: 99%; left: 0; right: 0;
    display: flex;
    background-color: #0C5A7E;
    color: white;
    white-space: nowrap;
    padding: 70px 70px 0;

}
.footer-section {
    width: 50vw;
}
.social {
    margin-top: 30px;
}
.social-links {
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    margin-top: 30px;
    row-gap: 10px;
    column-gap: 20px;
}
.social-links a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    min-width: 70px;
    min-height: 70px;
    border-radius: 10px;
}
.footer-text {
    font-weight: 600;
}

.footer-right {
    padding-left: 120px;
    margin-top: 40px;
    width: auto;
}
.phone-img {
    margin-top: 10px;
}
.phone-img img {
    margin: auto;
}
.footer-nums {
    display: flex;
    margin-top: 30px;
}
.footer-nums .nums {
    padding: 10px;
}
.by {
    margin-top: 100px;
    margin-bottom: 10px;
    font-size: 15px;
}












































@media screen and (min-width: 2400px) {
    .bolimlar .row {
        min-width: 30vw;
    }
}

@media screen and (min-width: 1054px) {
}


@media screen and (max-width: 1054px) {
    .header-text h1 {
        font-size: 3.5vw;
    }
    .header-text h2 {
        font-size: 2.5vw;
    }
    .header__img img {
        width: 16vw;
    }
    
}
@media screen and (max-width: 950px) {
    .main-block__body {
        margin: 0 auto;
    }
    .main-block__title {
        font-size: 4vw;
    }

    .bolimlar .row {
        max-width: 700px;
    }

    .footer {
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer-text {
        display: flex;
        justify-content: center;
    }
    .footer-text:first-child {
        display: block;
    }
    .social {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 20px auto 0;
    }
    .footer-section {
        width: 600px;
    }
    .footer-right {
        padding-left: 0;
        margin-top: 70px;
    }
    .card-body,
    .card-title a {
        font-size: 1.4vw;
    }
}

@media screen and (max-width: 768px) {
    .navbar-toggler {
        margin: 10px 0 10px 90%;
    }
    .main-block__button {
        min-width: 75px;
        font-size: 2vw;
    }

    .card {
        min-width: 100vw;
    }
    .card-body,
    .card-title a {
        font-size: 2.2vw;
    }
    .yangiliklar .card:nth-child(2n) {
        border-left: 0!important;
    }
    .card-img {
        min-width: 100%;
    }
    .yangiliklar .row {
        row-gap: 3vw;
    }
}
@media screen and (max-width: 490px) {
    .main-block__button {
        font-size: 3vw;
    }

    .footer-section {
        display: block;
        width: 100vw;
    }
    .footer__img {
        display: flex;
        justify-content: center;
    }
    .social-links {
        margin-top: 20px;
    }
    .footer .nums h2 {
        font-size: 5.5vw;
    }
    .by {
        font-size: 4vw;
    }
    .navbar-toggler {
        margin-left: 80%;
    }
}
@media screen and (max-width: 576px) {
    .card-body,
    .card-title a {
        font-size: 3vw;
    }

}

/* tuman haqida */



.main-block__img {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rahbariyat img {   
    max-height: 1296px;
    max-width: 1000px;
}

.umumiy {
    color: #1A6F96;
}
.umumiy .main-block__text {
    max-width: 1470px;
    font-size: 25px;
    margin: 20px auto;
    padding: 0 10px;
}
.image-about {
    font-size: 24px;
}

.vazifalar {
    color: #1A6F96;

}

.vazifalar .main-block__about,
.vazifalar .main-block__name,
.vazifalar .main-block__title {
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 0.5rem;
}
.tasks {
    line-height: 1.2;
    margin-top: 20px;
}
.tasks p {
    line-height: 1.4;
    font-size: 20px;
    font-weight: 500;
}
.tasks .main-block__title {
    margin-bottom: 20px;
}
.tasks .main-block__text {
    padding: 0 10px;
    margin: 20px auto;
}















@media screen and (max-width: 768px) {
    .main-block img {   
        max-width: 80vw;
    }
    .umumiy .main-block__text {
        font-size: 3vw;
    }
    .image-about {
        font-size: 2.5vw;
    }

    .vazifalar .main-block__about,
    .vazifalar .main-block__name,
    .vazifalar .main-block__title {
        font-size: 3vw;
    }
    .tasks p {
        font-size: 2.5vw;
    }
}
@media screen and (max-width: 480px) {
    .umumiy .main-block__text {
        font-size: 5vw;
    }
    .image-about {
        font-size: 3vw;
    }

    .tasks p {
        font-size: 3vw;
    }
}
